{% load music %}
{% load cache %}
{% load images %}
{% load store %}

{% with data.musicdata.release as release %}
<ul class="playlist">
  {% for song in release|get_tracklist %}
  <li data-song-id="{{ song.id }}">
    <div class="song_extras">
      {% if song.digitalsong %}<a href="{{ song.digitalsong|get_paypal_link }}">Buy</a> | {% endif %}
      <a href="{{ song.get_absolute_url }}">Link</a>
    </div>
    {{ song }}
  </li>
  {% endfor %}
</ul>
{% if release.archive_set.all %}
<h4>Download</h4>
<ul class="download_links">
  {% for archive in release.archive_set.all %}
  <li><a href="{{ MEDIA_URL }}{{ archive.archive }}" title="{{ release }}">{{ archive.file_type }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if release|get_buy_link %}
<a href="{{ release|get_buy_link }}" class="buy_link">Buy</a>
{% endif %}

{% if release.artwork %}
{% cache 5000 release_artwork release.id %}
{% with release.artwork as gallery %}
<div class="artwork clearfix_left">
  <h4>Artwork</h4>
  <ul class="thumbnails clearfix_left">
    {% for image in gallery.images.all %}
    <li><a href="{% url image image_id=image.id, gallery_id=gallery.id %}">
        <img src="{{ image.thumbnail.url }}" alt="{{ image.title }}" />
    </a></li>
    {% endfor %}
  </ul>
</div>
{% endwith %}
{% endcache %}
{% endif %}

{% endwith %}
