{% load music %}
{% load images %}

{% with data.musicdata.release as release %}
<ul class="playlist">
  {% for song in release|get_tracklist %}
  <li><a href="http://{{ current_site.domain }}{{ MEDIA_URL }}{{ song.file }}">{{ song }}</a></li>
  {% endfor %}
</ul>
{% if release.archive_set.all %}
<h4>Download</h4>
<ul class="download_links">
  {% for archive in release.archive_set.all %}
  <li><a href="{{ MEDIA_URL }}{{ archive.archive }}" title="{{ release }}">{{ archive.file_type }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if release.buy_link %}
<h4><a href="{{ release.buy_link }}">Buy</a></h4>
{% endif %}

{% if release.artwork %}
{% with release.artwork as gallery %}
<div class="artwork clearfix_left">
<h4>Artwork</h4>
<ul class="thumbnails clearfix_left">
  {% for image in gallery|grab_six %}
  <li><a href="{% url image image_id=image.id, gallery_id=gallery.id %}">
      <img src="http://{{ current_site.domain }}{{ image.thumbnail.url }}" alt="{{ image.title }}" />
  </a></li>
  {% endfor %}
</ul>

{% if gallery|more_than_six %}
<a href="{{ gallery.get_absolute_url }}">See all images from {{ gallery }}</a>
{% endif %}
</div>
{% endwith %}
{% endif %}

{% endwith %}
