{% load store %}

{% with data.musicdata.song as song %}

{% if song.streamable %}
<ul class="playlist">
  <li data-song-id="{{ song.id }}">{{ song.band }} - <span class="title">{{ song }}</span><div class="song_extras"></div></li>
</ul>
{% endif %}

{% if song.digitalsong %}
<a href="{{ song.digitalsong|get_paypal_link }}" class="buy_link">Buy</a>
{% endif %}

{% if song.downloadable %}
<a href="{{ song.download_url }}" class="buy_link">Download</a>
{% endif %}

{% if song.release_set.all %}
<div class="song_from">
<h4>From:</h4>
<ul>
  {% for release in song.release_set.all %}
  <li><a href="{{ release.get_absolute_url }}">{{ release }}</a></li>
  {% endfor %}
</ul>
</div>
{% endif %}
{% endwith %}

