{% with data.tour as tour %}
<table>
  <tbody>
    {% for show in tour.shows.all %}
    <tr>
      <td>{{ show.show_date|date:"m/d" }}</td>
      <td><a href="{{ show.get_absolute_url }}">{{ show }}</a></td>
      <td><a href="http://maps.google.com/?q={{ show.venue.address|urlencode }}">{{ show.venue }}</a></td>
      <td>
        {% if show.bands.all %}
        w/ 
        {% for band in show.bands.all %}
        {% if forloop.last %}
        {% if band.url %}
        <a href="{{ band.url }}">{{ band.name }}</a>
        {% else %}
        {{ band.name }}
        {% endif %}
        {% else %}
        {% if band.url %}
        <a href="{{ band.url }}">{{ band.name }}</a>, 
        {% else %}
        {{ band.name }},
        {% endif %}
        {% endif %}
        {% endfor %}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endwith %}
