Django==1.5
South==0.8.4
boto==2.10.0
django-appconf==0.6
django-debug-toolbar==0.9.4
django-imagekit==3.0.3
django-less==0.7.2
django-storages==1.1.8
easypost==2.0.4
fudge==1.0.3
psycopg2==2.5.1
requests>=1.2.0
simplejson==3.1.0
six==1.2.0
soundcloud==0.4.1
stripe==1.9.4
wsgiref==0.1.2
markdown>=2.3.1
django-haystack>=2.1
django-taggit
gunicorn==18.0
Whoosh==2.6.0
