Django==1.5
PIL==1.1.7
South==0.7.6
boto==2.10.0
django-appconf==0.6
django-debug-toolbar==0.9.4
django-imagekit==2.0.3
django-less==0.7.2
django-storages==1.1.8
easypost==2.0.4
fudge==1.0.3
psycopg2==2.5.1
requests==1.1.0
simplejson==3.1.0
six==1.2.0
soundcloud==0.3.6
stripe==1.9.4
wsgiref==0.1.2
