{% extends "base.html" %}

{% block title %}Contact{% endblock %}
{% block content %}
<article>
<header class="clearfix">
  <h1>Contact</h1>
</header>

<h3>Band</h3>
<p><a href="mailto:band@twinsistermusic.com">band@twinsistermusic.com</a></p>

<h3>Management</h3>
<p>Hunter Giles - <a href="mailto:hunter.badabing@gmail.com">hunter.badabing@gmail.com</a></p>

<h3>Booking</h3>
<p>Avery McTaggart - <a href="mailto:averymctaggart@theagencygroup.com">averymctaggart@theagencygroup.com</a></p>

<h3>Booking (Europe)</h3>
<p>Rob Challice - <a href="mailto:rob@codaagency.com">rob@codaagency.com</a></p>

<h3>Press</h3>
<p>Judy Silverman - <a href="mailto:judy@motormouthmedia.com">judy@motormouthmedia.com</a></p>

<h3>Label</h3>
<p>Domino - <a href="http://dominorecord.us">Contact</a></p>

</article>
{% endblock content %}
