{% extends "data/data_list.html" %}
{% load images %}
{% load oembed_tags %}

{% block title %}Images{% endblock %}
{% block nav-images %} class="active"{% endblock %}


{% block content %}
<article>
  <header class="clearfix">
    <h1>Videos</h1>
  </header>
  {% oembed %}
  <p>
    http://www.youtube.com/watch?v=emCw-rRU3Q4
  </p>
  <p>
    http://www.youtube.com/watch?v=_eeZnLX_XBM&ob=av2e
  </p>
  <p>
    http://www.youtube.com/watch?v=3yn0PISCGpg&ob=av2e
  </p>
  {% endoembed %}
</article>

{% for data in object_list %}
<article>
  {% include "data/data_short_body.html" %}
</article>
{% endfor %}
{% endblock %}

{% block pagination %}
{% if page_obj.has_other_pages %}
<div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="/images/{{ page_obj.previous_page_number }}/"><span>&#171;</span> Previous</a>
      {% endif %}
      {% if page_obj.has_next and page_obj.has_previous %}&nbsp;/&nbsp;{% endif %}
      {% if page_obj.has_next %}
      <a href="/images/{{ page_obj.next_page_number }}/" class="next_page">Next <span>&#187;</a>
      {% endif %}
    </span>
</div>
{% endif %}
{% endblock pagination %}

