{% extends "base.html" %}
{% load thumbnail %}
{% load images %}
{% load oembed_tags %}

{% block title %}{{ gallery }}{% endblock %}
{% block nav-images %} class="active"{% endblock %}
{% block section_title %}<h2 class="title">{{ gallery }}</h2>{% endblock %}

{% block content %}
{% if gallery.description %}
<div class="entry">
{% oembed %}
{% autoescape off %}
{{ gallery.description }}
{% endautoescape %}
{% endoembed %}
</div>
{% endif %}

{% for image in gallery|sort_images %}
<div class="entry gallery">
<h3>{{ image }}</h3>
<a href="{{ MEDIA_URL }}{{ image.photo }}"><img class="primary_image" src="{% thumbnail image.photo 626x900 %}" alt="{{ image }}" /></a>
{% if image.caption %}<p>{{ image.caption }}</p>{% endif %}
{% if image.credit.all %}<p>Credit(s): {{ image.credit.all|join:", " }}</p>{% endif %}
</div>
{% endfor %}
{% endblock %}

