{% extends "base.html" %}
{% load images %}
{% load thumbnail %}

{% block nav-images %} class="active"{% endblock %}
{% block section_title %}Images{% endblock %}

{% block content %}
<div class="entry">
  <h3><a href="{% url flickr_photos %}">See Photos from Flickr</a></h3>
</div>

{% for data in object_list %}
<div class="entry">
	<h3><a href="{{ data.get_absolute_url }}">{{ data }}</a></h3>
   <ul class="thumbnails clearfix_left">
   {% for image in data|sort_images %}
   <li><a href="{% url image image_id=image.id, gallery_id=data.id %}"><img src="{% thumbnail image.photo 100x100 crop %}" alt="{{ image }}" /></a></li>
   {% endfor %}
   </ul>
</div>
{% endfor %}

{% endblock %}

{% block pagination %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="/images/{{ page_obj.previous_page_number }}/">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="/images/{{ page_obj.next_page_number }}/">Next</a>
        {% endif %}
    </span>
</div>
{% endblock pagination %}

