{% extends "base.html" %}
{% load images %}
{% load oembed_tags %}

{% block title %}{{ gallery }}{% endblock %}
{% block nav-images %} class="active"{% endblock %}
{% block section_title %}<h2 class="title">{{ gallery }}</h2>{% endblock %}

{% block content %}
{% if gallery.description %}
<article>
{% oembed %}
{% autoescape off %}
{{ gallery.description }}
{% endautoescape %}
{% endoembed %}
</article>
{% endif %}

{% for image in gallery|sort_images %}
<article>
<header class="clearfix"><h1>{{ image }}</h1></header>
<a href="{{ MEDIA_URL }}{{ image.photo }}"><img class="primary_image" src="{{ image.display.url }}" alt="{{ image }}" /></a>
{% if image.caption %}<p class="caption">{{ image.caption }}</p>{% endif %}
<p>Click for full size</p>

{% if image.credit.all %}<p>Credit(s): 
    {% for person in image.credit.all %}
    {% if person.url %}<a href="{{ person.url }}">{{ person }}</a>
    {% else %}{{ person }}
    {% endif %}
    {% endfor %}
</p>{% endif %}

</article>
{% endfor %}
{% endblock %}

