{% extends "base.html" %}
{% load images %}
{% load cache %}

{% block title %}{{ image.title }}{% endblock %}
{% block nav-images %} class="active"{% endblock %}

{% block content %}
{% cache 5000 image_content image.id %}
<div class="entry">
  <h3>{{ image }}</h3>
  <p><a href="{{ gallery.get_absolute_url }}">See all {{ gallery }}</a></p>
  <a href="{{ MEDIA_URL }}{{ image.photo }}"><img class="primary_image" src="{{ image.display.url }}" alt="{{ image.title }}" /></a>
  {% if image.caption %}<p class="caption">{{ image.caption }}</p>{% endif %}
  <p>Click for full size</p>
  {% if image.credit.all %}<p>Credit(s): {{ image.credit.all|join:", " }}</p>{% endif %}
  <div class="previous_next">
    {% if image|previous_image:gallery %}
    <a href="{{ image|previous_image:gallery }}">Previous</a>
    {% endif %}
    {% if image|next_image:gallery %}
    <a href="{{ image|next_image:gallery }}">Next</a>
    {% endif %}
  </div>
</div>
{% endcache %}
{% endblock %}
