{% extends "kishore/base.html" %}
{% load staticfiles %}
{% load cache %}

{% block body_class %}home{% endblock %}

{% block kishore_content %}
{% if song %}
{% cache 9999999 song song.cache_key %}
<div class="feature">
  <div class="text-center">
    <iframe width="420" height="315" src="//www.youtube.com/embed/dOVUJ4lfmeQ" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="actions monospaced text-center">
    {% if song.get_buy_now_link %} <a href="{{ song.get_buy_now_link }}">Buy</a> |{% endif %}
    {% if song.downloadable %}<a href="{% url 'kishore_song_download' pk=song.pk %}">Download</a> |{% endif %}
    <a href="#" class="toggle-hide">Hide</a><br><br>
  </div>
</div>
{% endcache %}
{% endif %}
{% endblock %}
