@import 'bootstrap';
@import 'font-awesome';
@import 'variables';

body, html {
  min-height: 100%;
}

a {
  color: $black;
}

body {
  background-image: -webkit-radial-gradient(45px 45px, ellipse farthest-corner, aqua 0%, rgba(0, 0, 255, 0) 100%, blue 95%);
  background-image:         radial-gradient(45px 45px, ellipse farthest-corner, aqua 0%, rgba(0, 0, 255, 0) 100%, blue 95%);
}

.wrapper {
  float: right;
  width: 90%;
}

.content {
  padding: $gutter;
  background-image: linear-gradient(90deg, rgba(255,255,255,0.8), rgba(255,255,255,0.4) 80%, rgba(255,255,255,0));
}

.table td {
  border-color: $white !important;
}

.table th {
  color: $white;
  text-transform: uppercase;
}

.btn-primary {
  background-color: $color1;
  border-color: $color1;
  &:hover {
    background-color: darken($color1, 15%);
    border-color: darken($color1, 15%);
  }
}

/* Header */

header.page-header {
  position: relative;
  border: none;
  margin: $gutter 0 0;

  h1 {
    float: left;
    text-transform: uppercase;
    font-size: 50px;
  }

  h1 a {
    @include gradient_text;
    text-decoration: none;
  }

  ul {
    position: absolute;
    bottom: $gutter;
    right: 0;
    margin-bottom: 0;
    font-size: 15px;

    li {
      float: left;
      margin-right: $gutter / 2;
    }

    span { display: none; }
    a {
      color: $white;
      &:hover {
        opacity: 0.6;
        text-decoration: none;
      }
    }
  }
}

nav {
  margin: $gutter 0;
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;

  ul {
    float: left;
    margin: $gutter / 2 0;
  }

  li {
    float: left;
    margin-right: $gutter;
  }

  a {
    color: $white;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    color: $trans_white;

  }

  li.active a, a:hover {
    -webkit-filter: blur(1px);
    color: $white;
    text-decoration: none;
  }

}

/* Content */

.content {

  h1 {
    text-transform: uppercase;
    font-size: 2em;
    color: $color1;
  }

  h2 {
    text-transform: uppercase;
    font-size: 1.2em;
    color: $color1;
  }

  td {
    vertical-align: middle !important;
  }
}

/* Cart */

article.cart {
  table {
    form { display: inline; }
    label { display: none; }
    p { display: inline; }
  }

  input[name=quantity] {
    width: 50px;
  }

  .subtotal {
    background: $trans_white;
    padding: $gutter / 2 8px;
    font-weight: bold;
    margin-bottom: $gutter;
  }
}

/* Releases */
article.release {
  .artwork, .info {
    float: left;
  }

  .info {
    margin-left: $gutter;
  }
}