$gutter: 20px;
$white: #fff;
$trans_white: rgba(255,255,255,0.5);
$black: #666;
$grey: #909090;
$color1: #2ac8ff;
$color2: #98b6ff;

@mixin gradient_text {
  color: $white;
  -webkit-filter: blur(2px);
}