{% extends "base.html" %}
{% load cache %}
{% load store %}

{% block title %}Buy {{ release.name }}{% endblock %}

{% block nav-store %}class="active"{% endblock %}

{% block content %}
<article>
  <header class="clearfix">
    <h1>Buy {{ release }}</h1>
  </header>

  {% if release.header_image %}
  {% cache 5000 header_image release.id %}
  <div class="primary_image">
    <img src="{{ release.header_image.display.url }}" alt="" />
    {% if release.header_image.caption %}<p class="caption">{{ release.header_image.caption }}</p>{% endif %}
  </div>
  {% endcache %}
  {% endif %}

  <ul class="buy_links">
    {% if release.digitalrelease_set.all %}
    <li><h4>Digital</h4>
      <ul>
        {% for digitalrelease in release.digitalrelease_set.all %}
        <li>
          <a href="{{ digitalrelease|get_paypal_link }}">{{ digitalrelease.cost|currency }} {{ digitalrelease.format }}<span>{% if digitalrelease.released %}Buy{% else %}Pre-Order{% endif %}</span></a>
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endif %}

    {% if release.physicalrelease_set.all %}
    <li><h4>Physical</h4>
      <ul>
        {% for physicalrelease in release.physicalrelease_set.all %}
        {% if physicalrelease.inventory %}
        <li>
          <a href="{{ physicalrelease|get_paypal_link }}">{{physicalrelease.cost|currency }} {{ physicalrelease.format }}<span>{% if physicalrelease.released %}Buy{% else %}Pre-Order{% endif %}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </li>
    {% endif %}
  </ul>

  <p class="small">{% if release.digitalrelease_set.all %}All physical orders come with a free digital download.{% endif %}  After making your selection, you will be taken to paypal.com, but don't worry you don't need a paypal account to place an order.  Should you encounter any problems, please email <a href="mailto:support@twinsistermusic.com">support@twinsistermusic.com</a>.  Thanks for buying directly from us!</p>
</article>
{% endblock %}

