{% load store %}
{% if body %}<p>{{ body }}{% endif %}

{% if download_link %}
<strong>DOWNLOAD LINK</strong><br/>
<a href="{{ download_link.get_full_url }}">{{ download_link.get_full_url }}</a><br/><br/>
{% endif %}

<strong>ORDER INFORMATION</strong><br/>
Order #: {{ order.id }}<br/>
{{ order.product }}<br/>
Quantity: {{ order.quantity }}<br/>
Subtotal: {{ order.subtotal|currency }}<br/>
{% if order.shipping %}Shipping: {{ order.shipping|currency }}<br/>{% endif %}
{% if order.tax %} Tax: {{ order.tax|currency }}<br/>{% endif %}
Order Total: {{ order.order_total|currency }}<br/>

{% if order.shipping_address %}
<br/><strong>SHIPPING ADDRESS</strong><br/>
{{ order.shipping_address|linebreaksbr }}
{% endif %}

<p>If you have any problems, please email support@twinsistermusic.com.</p>

<p>
Love,<br/>
Twin Sister
</p>
