body.home {
  background: white;
}

body.home .navbar {
  display: none;
}

body.home .feature {
  width: 500px;
  margin: 0 auto;
}

body.home .feature .actions {
  text-transform: uppercase;
  color: white;
}
