{% extends "base.html" %}
{% load images %}
{% load oembed_tags %}

{% block title %}{{ gallery }}{% endblock %}
{% block nav-images %} class="active"{% endblock %}

{% block content %}
<article>
  <header class="clearfix">
    <h1>Videos</h1>
  </header>
  {% oembed %}
  <p>
    http://www.youtube.com/watch?v=emCw-rRU3Q4
  </p>
  <p>
    http://www.youtube.com/watch?v=_eeZnLX_XBM&ob=av2e
  </p>
  <p>
    http://www.youtube.com/watch?v=3yn0PISCGpg&ob=av2e
  </p>
  {% endoembed %}
</article>

{% if gallery.description %}
<article>
{% oembed %}
{% autoescape off %}
{{ gallery.description }}
{% endautoescape %}
{% endoembed %}
</article>
{% endif %}

<article>
<header class="clearfix"><h1>Photos</h1></header>
{% for image in gallery|sort_images %}
<a href="{{ MEDIA_URL }}{{ image.photo }}"><img class="primary_image" src="{{ image.display.url }}" alt="{{ image }}" /></a>
{% if image.caption %}<p class="caption">{{ image.caption }}</p>{% endif %}
{% if image.credit.all %}<p>Credit(s): 
    {% for person in image.credit.all %}
    {% if person.url %}<a href="{{ person.url }}">{{ person }}</a>
    {% else %}{{ person }}
    {% endif %}
    {% endfor %}
</p>{% endif %}

{% endfor %}
</article>
{% endblock %}

