{% load thumbnail %}
{% load oembed_tags %}

<div class="posted_by">posted by <a href="{{ data.posted_by.get_absolute_url }}">{{ data.posted_by }}</a> - {{ data.pub_date|date:"l, F j, Y" }}</div>

{% if data.header_image %}
<img class="primary_image" src="http://twinsistermusic.com{% thumbnail data.header_image 626x620 %}" alt="Header Image" />
{% endif %}

{% if data.description %}

{% oembed %}
{% autoescape off %}
{{ data.description }}
{% endautoescape %}
{% endoembed %}

{% endif %}

{% include data.get_template %}

{% if data.artwork.all %}
<div class="artwork">
<h4>Artwork</h4>
{% for gallery in data.artwork.all %}
{% include "images/gallery_content.html" %}
{% endfor %}
</div>
{% endif %}
