{% extends "data/data_list.html" %}
{% load thumbnail %}

{% block section_title %}<h2 class="title">Entries by {{ person }}</h2>{% endblock %}
{% block title %}Entries by {{ person }}{% endblock %}

{% block content %}
{% regroup object_list by pub_date.day as data_list %}
{% for day in data_list %}
{% for data in day.list %}
{% if forloop.first %}<div class="posted_date">{{ data.pub_date|date }}</div>{% endif %}

<div class="entry {{ data.get_human_class_type|lower }}">
   {% include "data/data_body.html" %}
   <div class="comment_count">
	<a href="{{ data.get_absolute_url }}#disqus_thread">Comments</a>
	</div>
</div>
{% endfor %}
{% endfor %}

{% if page_obj.has_other_pages %}
<div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="{% url entries_by_person_paginated person_id=person.id, page=page_obj.previous_page_number %}"><span>&#171;</span> Previous</a>
      {% endif %}
      {% if page_obj.has_next and page_obj.has_previous %}&nbsp;/&nbsp;{% endif %}
      {% if page_obj.has_next %}
      <a href="{% url entries_by_person_paginated person_id=person.id, page=page_obj.next_page_number %}" class="next_page">Next <span>&#187;</a>
      {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}
