@import "bootstrap/twinsis_bootstrap.less";
@import "common.less";
@import "font-awesome.less";
@import "default.less";

h1 { font-size: 30px; }
h2 { font-size: 25px; }

.navbar-inverse {
  background: black;
  border-color: black;
}

.search-form {
  display: none;
}

.form-control {
  background: #ddd;
}

.product-title {
  margin-top: 10px;
  font-size: 12px;
}

.product-detail #song-link { display: none; }

.kishore-audio-player {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.kishore-audio-player li:hover {
  background-color: #ccc;
  color: #333;
}

.kishore-audio-player li.playing {
  color: #333;
}

.kishore-audio-player li.playing:hover {
  background: lighten(@brand-primary, 20%);
}

.kishore-audio-player li.paused:hover {
  background: #fff;
}

.kishore-audio-player #song-time, .kishore-audio-player #song-link {
  color: #333;
}

body.home {
  .navbar { display: none; }

  .feature {
    width: 500px;
    margin: 20px auto 0;

    .player {
      margin-top: -80px;
      position: relative;
      height: 56px;
    }

    .player li {
      border: none;
      background: none;
      color: transparent;
    }

    .progress-bar {
      background: white;
    }

    .paused .progress-bar {
      background: #999;
    }

    .progress {
      height: 10px;
    }

    #song-link, #song-time, .title {
      display: none;
    }

    #song-position { background: #222; }

    .actions {
      text-transform: uppercase;
      color: white;
      font-size: 10px;
      margin-top: 40px;
      opacity: 0.4;
      a { color: white; }
    }


  }

  .feature.minimal {
    .actions, #song-position {
      display: none;
    }
  }
}

body.song-detail {
  .page-header { display: none; }
  .description { clear: left; }

  .buy-product, article.song .download-product {
    float: left;
    margin-right: 20px;
  }
}

.payment-method li > label[for=id_processor_0] {
  background-image: url(https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif);
  background-repeat: no-repeat;
  background-position: 20px 0;
  color: transparent;
  width: 165px;
  height: 30px;
}
