{% extends "base_store_admin.html" %}
{% load store %}
{% load url from future %}

{% block content %}
<table>
  <tr>
    <td><strong>Status</strong></td>
    <td>{{ object.get_status_display }}</td>
  </tr>
  <tr>
    <td><strong>Customer Name</strong></td>
    <td>{{ object.customer_name }}</td>
  </tr>
  <tr>
    <td><strong>Customer Email</strong></td>
    <td>{{ object.customer_email }}</td>
  </tr>
  <tr>
    <td><strong>Date</strong></td>
    <td>{{ object.timestamp|date:"m/d/y g:iA" }}</td>
  </tr>
  <tr>
    <td><strong>Shipping Address</strong></td>
    <td>{{ object.shipping_address|linebreaks }}</td>
  </tr>
  <tr>
    <td><strong>Product</strong></td>
    <td>{{ object.product }}</td>
  </tr>
  <tr>
    <td><strong>Quantity</strong></td>
    <td>{{ object.quantity }}</td>
  </tr>
  <tr>
    <td><strong>Order Total</strong></td>
    <td>{{ object.order_total|currency }}</td>
  </tr>
  <tr>
    <td><strong>Tax</strong></td>
    <td>{{ object.tax|currency }}</td>
  </tr>
  <tr>
    <td><strong>Shipping Cost</strong></td>
    <td>{{ object.shipping|currency }}</td>
  </tr>
  <tr>
    <td><strong>Payment Status</strong></td>
    <td>{{ object.payment_status }}</td>
  </tr>
</table>

<a href="{% url 'store_admin' %}">Back</a>
{% endblock %}
