/* Global and Utility Classes */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix_left:after {
    content: ".";
    display: block;
    height: 0;
    clear: left;
    visibility: hidden;
}


.text_replace {
    display: block;
    text-indent: -9999px;
}

.top_margin {
    margin-top: 20px;
}

body {
    font-family:Helvetica, Verdana, Arial, sans-serif;
}

body {
    line-height: 1.2em;
    font-size: 0.85em;
    color: #666;
    background: #f9f9f9;
}

strong {
    font-weight:bold;
}

a {
    text-decoration:none;
    font-weight: bold;
    color: #333;
}

a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 2em;
    line-height: 1.2em;
    display:block;
    background: #F9F6EE;
    padding:10px;
    color:#000;
    border-top: 1px dotted #AFAA99;
    border-bottom: 1px dotted #AFAA99;
}

h4 {
    font-weight: bold;
}

p {
    margin-bottom: 1em;
}

/* Main */

#right {
    position: fixed;
    bottom: 0;
    right: 0;
}

#home_feature img {
    float: left;
}

#release_info {
    float: left;
    margin-left: 20px;
    width: 500px;
}

#release_info ul {
    margin-bottom: 1em;
}

#tracklist {
    font-size:2em;
    line-height: 1.2em;
    margin-bottom: 15px;
}

#tracklist #zip {
    font-size: 0.5em;
}

#wrapper, #footer {
    width: 1000px;
}

#databrowse, #footer { 
    border: 1px dotted #AFAA99;
}

#footer {
    width: 998px;
    text-align: center;
    padding: 10px 0;
    border-bottom: none;
    margin-top: 50px;
}

#content, #home_feature {
    width: 697px;
    padding-bottom: 20px;
}

#home_feature {
    float: none;
    width: 100%;
    margin-bottom: 20px;
}

#sidebar {
    float: right;
    width: 278px;
    margin-left: 20px;
    background:#E9E5D9;
    font-size: 0.95em;
}

#sidebar h2 {
    font-size: 1.2em;
}

#sidebar p {
    padding: 10px;
}

#mailing_list {
    padding: 10px;
}

#mailing_list_email {
    width: 120px;
}

#search input {
    color:#AAAAAA;
    font-size:13px;
    margin-bottom:10px;
    padding:2px;
    width:190px;
    font-size: 12px;
}

#search .tf_focused {
    color: #000;
}
.entry, .comment, .comment_form, #feature_content, .data_list li {
    display: block;
    margin-top: 20px;
    padding:15px;
    position: relative;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.07);
    border-left: 55px solid #bb225a;
}

.song {
    border-left: 55px solid #8ABD50;
}

.release {
    border-left: 55px solid #CF4039;
}

.show {
    border-left: 55px solid #90DEEC;
}

.official {
    border: 1px solid #AFAA99;
    background: #fff;
    font-weight: bold;
}

.official_release {
    position: absolute;
    right: 15px;
    font-weight: normal;
}

.artwork {
    margin: 1em 0 0;
}

#feature {
    margin-bottom: 20px;
}

.entry h3 {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
}

.entry h3 a {
    color: #BB225A;
}

.song h3 a {
    color: #8ABD50;
}

.show h3 a {
    color: #90DEEC;
}

.release h3 a {
    color: #CF4039;
}

.entry ul {
    margin-bottom: 1em;
}

.body {
    margin: 10px 0;
}

.data ol {
    list-style-position: inside; 
    list-style-type: decimal;
}

.show_info .bands li {
    display:inline;
}

.data .info {
    margin-top:20px;
}

.data .info .composers {
    margin-bottom: 10px;
}

#shows_list {
    line-height: 1.1em;
    padding: 20px 10px;
}

#shows_list li {
    margin-bottom:15px;
}

.bands li {
    display:inline;
    margin:0;
}

.images {
    margin:10px 0 0 0;
}

#rss {
    background-image: url(../images/rss.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    padding-right: 23px;
    height: 16px;
}

.comment_count {
    text-align:right;
    font-weight:bold;
}

.comment h3 {
    font-size: 2em;
    line-height: 1.2em;
    margin-bottom: 15px;
}

#dsq-comments-title h3 {
    margin-top: 15px;
}

.pagination {
    padding: 15px 30px 0;
}

.posted_by, .primary_image {
    margin-bottom: 1em;
}

.primary_image {
    margin-top: 1em;
}

.thumbnails {
    margin-top: 15px;
}

.thumbnails li {
    float: left;
    margin-right: 4px;
    margin-bottom: 4px;
}

#recent_flickr {
    padding: 10px;
}

#recent_flickr li {
    float: left;
    margin-right: 4px;
}