/* Global and Utility Classes */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix_left:after {
    content: ".";
    display: block;
    height: 0;
    clear: left;
    visibility: hidden;
}


.text_replace {
    display: block;
    text-indent: -9999px;
}

.top_margin {
    margin-top: 20px;
}

body {
    font-family:Helvetica, Verdana, Arial, sans-serif;
    line-height: 1.4em;
    font-size: 0.85em;
    color: #666666;
    background: url(../images/body_bg.png);
}

.small {
    font-size: 0.85em;
}

strong {
    font-weight:bold;
}

a {
    text-decoration:none;
    color: #E92C27;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: 10px;
}

h1 a:hover {
    text-decoration: none;
}

h4 {
    font-weight: bold;
}

p {
    margin-bottom: 1em;
}

/* Main */

#right {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 30px;
    text-align: right;
    width: 267px;
}

#tracklist {
    font-size:2em;
    line-height: 1.2em;
    margin-bottom: 15px;
}

#tracklist #zip {
    font-size: 0.5em;
}

#top_right {
    background: #7F8DDD;
    padding: 15px;
    margin-bottom: 15px;
    -moz-border-radius: 120px 10px 10px 0;
    -webkit-border-radius: 120px 10px 10px 0;
}

#navigation_search {
    background: #7F8DDD;
    padding: 15px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#top_right a {
    color: #606AA6;
}

.navigation {
    font-size: 16px;
}

.navigation li {
    float: left;
    margin-left: 5px;
}

.navigation a {
    color: #ffffff;
}
.navigation a:hover {
    text-decoration: none;
    color: #e5e5e5;
}

#search {
    margin-top: 10px;
}

#search input {
    color:#AAAAAA;
    font-size:13px;
    padding:2px;
    width:230px;
    font-size: 12px;
}

.entry, .comment, .comment_form, .data_list li, #footer, .posted_date, h2.title, .pagination, .featured_release .release_info, #footer_links {
    margin: 20px 20px 0;
    width: 600px;
    display: block;
    padding:15px;
    position: relative;
    background: #e5e5e5;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.posted_date {
    margin-left: 50px;
    background: transparent;
    padding: 20px 0 0 22px;
    color: #f6ffa8;
}

.description {
    max-width: 600px;
}

h2.title, #footer {
    font-size: 30px;
    background: #7F8DDD;
    color: #606AA6;
    line-height: 35px;
    text-align: right;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#footer {
    clear: both;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    text-align: right;
    font-size: 14px;
    line-height: 1.4em;
    margin-top: 40px;
}

#footer a {
    color: #ffffff;
}

#footer_links {
    background: transparent;
    padding: 0;
    text-align: right;
    color: #dddddd;
    width: 615px;
    margin-top: 10px;
}

#footer_links a {
    color: #dddddd;
}

#footer, .pagination, h2.title, .posted_date, .comment {
    padding-left: 15px;
}

.official {
    font-size: 25px;
    line-height: 30px;
}

.artwork {
    margin: 1em 0 0;
}

.entry h3 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    max-width: 600px;
}

#next_show {
    color: #606AA6;
    margin: 10px 0;
}

#next_show a {
    color: #ffffff;
}

#recent_flickr_header {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}

.entry ul {
    margin-bottom: 1em;
}

.body {
    margin: 10px 0;
}

#sidebar {
    margin-bottom: 30px;

}

.data ol {
    list-style-position: inside; 
    list-style-type: decimal;
}

#shows_list {
    margin-bottom: 10px;
}

.show_info .bands li {
    display:inline;
}

.data .info {
    margin-top:20px;
}

.data .info .composers {
    margin-bottom: 10px;
}

.bands li {
    display:inline;
    margin:0;
}

.images {
    margin:10px 0 0 0;
}

#rss {
    background-image: url(../images/rss.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    padding-right: 23px;
    height: 16px;
}

.comment_count {
    text-align:right;
}

.comment h3 {
    font-size: 2em;
    line-height: 1.2em;
    margin-bottom: 15px;
}

#dsq-comments-title h3 {
    margin-top: 15px;
}

.pagination {
    background: rgba(229, 229, 229, 0.8);
    font-size: 18px;
    color: #aaa;
    float: left;
    margin-bottom: 40px;
    width: auto;
}

.pagination a span {
    color: #aaa;
}

.pagination a:hover {
    text-decoration: none;
}

.pagination a:hover span {
    color: #333;
}

.posted_by, .primary_image {
    margin-bottom: 1.5em;
}

.caption {
    font-family: Georgia, Times New Roman, serif;
    text-align: right;
    color: #333333;
}

.thumbnails {
    margin-top: 10px;
}

.thumbnails li {
    float: left;
    margin-right: 10px;
}

#recent_flickr li {
    float: left;
    margin-left: 4px;
}

.song_from {
    margin-top: 1em;
}

/* Home Splash Page */

#featured_release_content {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.featured_release {
    float: left;
    background: transparent;
    border: none;
    margin: 0 50px 10px 0;
    padding: 0;
    width: 600px;
    clear: none;
    text-align: left;
}

.featured_release img {
    padding-top: 20px;
    display: block;
}

.featured_release .release_info {
    margin: 20px 0 0;
    width: 570px;
}

.featured_release .buy_link {
    float: right;
}

.featured_release .buy_link a {
    color: #666666;
}

.featured_release h3, .featured_release .release_info, #more_link {
    opacity: 0;
}

#more_link {
    color: #ffffff;
    font-size: 18px;
}

.last_release {
    margin-right: 0;
}

#featured_release_content h1 {
    margin: 20px 0;
}

.featured_release .download_links li, .featured_release .buy_links li {
    display: inline;
}

.featured_release h3 {
    font-size: 20px;
}

/* Release Thumbnails */
#release_thumbnails {
    position: fixed;
    margin: 30px;
    right: 0;
    top: 0;
    background-color: #fff;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.07)
}

#release_thumbnails h2 {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}

#release_thumbnails li {
    float: left;
    margin-right: 5px;
}

#release_thumbnails img {
    vertical-align: bottom;
}

#release_thumbnails li:last-child {
    margin-right: 0;
}

#new_ep {
    margin-bottom: 10px;
}

#new_ep a {
    color: #ffffff;
}

.description {
    font-family: Georgia;
    font-size: 16px;
    line-height: 20px;
}

table {
    border-top: 1px dotted #666666;
    margin-bottom: 1em;
}

td {
    padding: 2px 15px 2px 0;
    border-bottom: 1px dotted #666666;
    font-size: 14px;
}

/* Store */
.entry .buy_links {
    margin-bottom: 2em;
}

.buy_links > li {
    text-indent: 15px;
}

.buy_links ul li {
    text-indent: 0;
}

.buy_links ul li a {
    display: block;
    background-color: #eee;
    padding:15px;
    margin-top: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.buy_links ul li a:hover {
    text-decoration: none;
    background: #ffffff;
}

.buy_links span {
    float: right;
    color: #5E9F00;
    cursor: pointer;
}

/* Audio Player */

.playlist li {
    cursor: pointer;
}